<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1><a href="/">Tech Blog</a></h1>
      <nav class="navbar">
        <ul>
          <li class="li-inline nav-item"><a href="/">Home</a></li>
          {{#if logged_in}}
          <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
          <li class="li-inline nav-item"><button class="no-button" id="logout">logout</button></li>
          {{else}}
          <li class="li-inline nav-item"><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>

    <footer class="flex-row justify-center">
      &copy; Tech Blog
    </footer>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>